version: '3.8'

services:
  flx-service-hub:
    image: fabreguesm/flx-service-hub:1.0.0
    environment:
      PORT: 3001
      NODE_ENV: production
      DB_HOST: 10.250.0.68
      DB_PORT: 5002
      DB_NAME: hub-flexxus
      DB_USER: root
      DB_PASSWORD: Flexxus2023**
      APP_URL: ${APP_URL}
      MAX_FILE_SIZE_MB: 10
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      EMAIL_FROM: ${EMAIL_FROM}
    ports:
      - "3001:3001"
    deploy:
      placement:
        constraints: ["${NODE}"]  
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.${SERVICE_NAME}.entrypoints=web"
        - "traefik.http.routers.${SERVICE_NAME}.rule=Host(`${DOMAIN_NAME}`)"
        - "traefik.http.middlewares.${SERVICE_NAME}-http.redirectscheme.scheme=https"
        - "traefik.http.routers.${SERVICE_NAME}-https.rule=Host(`${DOMAIN_NAME}`)"
        - "traefik.http.routers.${SERVICE_NAME}-https.entrypoints=https"
        - "traefik.http.routers.${SERVICE_NAME}-https.tls=true"
        - "traefik.http.routers.${SERVICE_NAME}-https.tls.certresolver=myresolver"
        - "traefik.http.services.${SERVICE_NAME}.loadbalancer.server.port=3001"          
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}  
    networks:
      - traefik      
networks:
  traefik:
    external:
      name: traefik-network
